.py{
    background-color: yellow;
}

.scrape{
    background-color: rgb(17, 78, 36);
    color: #fff;
}

.cv{
    background-color: rgb(209, 71, 37);
    color: #fff;
}

.auto{
    background-color: rgb(255, 255, 255);
    color: #000;
}

.cpp{
    background-color: rgb(78, 78, 233);
    color: #fff;
}

.multi{
    background-color: rgb(185, 80, 80);
    color: #fff;
}

.html{
    background-color: rgb(97, 201, 128);
}

.hello{
    background-color: rgb(114, 114, 114);
    color: #fff;
}

.css{
    background-color: rgb(108, 122, 197);
    color: #fff;
}

.js{
    background-color: rgb(197, 108, 197);
    color: #fff;
}

.front{
    background-color: rgb(255, 255, 255);
}

.console{
    background-color: rgb(202, 184, 78);
    color: #fff;
}

.gui{
    background-color: rgb(202, 78, 165);
    color: #fff;
}

.tk{
    background-color: rgb(86, 78, 202);
    color: #fff;
}

.yt{
    background-color: rgb(138, 202, 78);
    color: #fff;
}

.api{
    background-color: rgb(224, 240, 11);
}